<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jomeva.driving">

    <uses-permission android:name="android.hardware.location.gps" /> <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="Draivin"
        android:roundIcon="@mipmap/launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Driving"
        tools:replace="android:theme">
        <activity
            android:name=".activities.activities.VistaWeb"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.activities.RegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.activities.SugerenciasActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.activities.Politica"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.activities.HomeModerador"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.activities.ConfigReportActivity"
            android:exported="true" />
        <activity
            android:name=".activities.activities.SplashLoading"
            android:exported="true" />
        <activity
            android:name=".activities.activities.PerfilActivityPost"
            android:exported="true" />
        <activity
            android:name=".activities.activities.ConfirmImageSendActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.activities.MapaPropina"
            android:exported="true" />
        <activity
            android:name=".activities.activities.ValidarPhoneActivity"
            android:exported="true" /> <!-- android:theme="@style/Theme.Driving" -->
        <activity
            android:name=".activities.activities.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".activities.activities.EditPerfilActivity"
            android:exported="true" />
        <activity
            android:name=".activities.activities.PerfilActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jomeva.driving.activities"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleMapKey" />

        <activity
            android:name=".activities.activities.RegistrarActivity"
            android:exported="true" />
        <activity
            android:name=".activities.activities.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".activities.activities.AuthActivity"
            android:exported="true" />
        <activity
            android:name=".activities.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:exported="true" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.jomeva.driving.activities.services.MyFirebaseMessagingClientCall"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" /> <!-- anuncios nativo advance -->
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1498245539124562~7816848054" />
    </application>

</manifest>